<div class="container">
  <h2><%= @article.title %></h2>
  <p><%= @article.content %></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate praesentium maxime nesciunt iste, unde odit. Aliquid deserunt amet debitis odio nesciunt non, corrupti repellat molestias similique assumenda quia quo corporis!</p>
  <div class="div">

  </div>
</div>
